*{
    list-style: none;padding:0;margin:0;text-decoration: none;
    outline:0;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;
     font-family: 'Roboto-Regular';
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {
  font-family: Flaticon;
font-style: normal;
}
body,html{
    background-color:#f3f3f3;
    font-family: 'Roboto-Regular';
    font-size:14px;
    height:100%;
    position:relative;
    color:#444 ;
}
#contenu{background:#fff;padding:20px;margin:60px auto;color:#666;width:350px;}
#content{padding-top:50px;}

/* Input area ------------------------------------------------------------------------------------------------------------------------------------------- */
.inputarea{
  width:300px;margin:10px auto;padding:10px;
}
.inputarea label{display: block;padding-top:20px;padding-bottom:5px;text-transform: uppercase;color:#666;font:"open";}
.inputarea input{
  display: block;width:280px;height:40px;border:1px solid #ccc;color:#aaa;padding:5px;
}
.inputarea button{
  margin-top:10px; font-family: 'open';text-transform: uppercase;cursor:pointer;
  display: block;width:280px;height:40px;border:1px solid #f5ba42;background:#f5ba42;color:#fff;padding:5px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
.inputarea button:hover{background:#fcce54;border:1px solid #fcce54;}


/* Loader --- */
.loader{
    position: fixed;top:0;left:0;bottom:0;right:0;
    background:rgba(33,33,33,0.5);
    z-index:2000;
}
.loader img{width:128px;}
.contentLoader{
    position: absolute;top:50%;left:50%;
    width:400px;
    height:200px;
    margin-top:-100px;margin-left:-150px;
    background:#eeeeee;text-align:center;padding:20px;
    font-size:20px;font-family: 'Roboto-Regular';
}
.contentLoader p{margin-bottom:20px;}

/* loading */
.loading{
    width:500px;
    margin:30px auto;
    background:#fff;
    text-align:center;padding:20px;color:#666;
   -webkit-box-shadow: 0px 0px 7px 1px rgba(204,204,204,1);
-moz-box-shadow: 0px 0px 7px 1px rgba(204,204,204,1);
box-shadow: 0px 0px 7px 1px rgba(204,204,204,1);
}
.loading p{padding-top:10px;}
.loading img{width:64px;}

/* table */
.table{display: table;border-collapse: collapse;}
.tableRow{display: table-row;}
.tableCell{display:table-cell;}
.taleft{text-align:left;}
.taright{text-align:right;}
.tacenter{text-align: center;}
.width10{width:10%;}
.width20{width:20%;}
.width30{width:30%;}
.width40{width:40%;}
.width50{width:50%;}
.width60{width:60%;}
.width70{width:70%;}
.width80{width:80%;}
.width90{width:90%;}
.width100{width:100%;}
.margintop10{margin-top:10px;}
.margintop20{margin-top:20px;}
.margin40{margin-top:40px;}
.margin20{margin:20px;}
.padding10{padding:10px;}
.padding20{padding:20px;}
.padding1000{padding-left:10px;padding-right:10px;}
.padding1020{padding:20px 10px;}
.bordertrans{border:1px solid #fff;border-bottom:1px solid #f5f5f5;}
#listofentite .title,#listOfItem .title{
    background-color: #fff;
    vertical-align: middle;
    font-weight: 500;
    color: #333;
    height:50px;
    font-family: 'open';text-align:center;
    border-width: 2px solid #f5f5f5;
    text-transform: uppercase;
}
#listofentite .tableCell,#listOfItem .tableCell,.borderTable .tableCell{padding:5px;border-bottom:1px solid #f5f5f5;vertical-align: middle;}
#listofentite .line:hover,#listOfItem .line:hover{background:#009688;color:#fff;}
#listofentite .line,#listOfItem .line{
    cursor:pointer;
    -webkit-transition: all 0.3s;
          -moz-transition: all 0.3s;
          transition: all 0.3s;
}
/* buyton -*/
#action{margin-bottom:20px;background:#eee;}
.action{
    padding:10px 8px;color:#fff;height:40px;text-align:center;font-family: 'Roboto-Regular';font-size:15px;
    background:#34444d;border:1px solid #f4f4f4;cursor:pointer;
         -webkit-transition: all 0.3s;
          -moz-transition: all 0.3s;
          transition: all 0.3s;
}
.select{
  border: 1px solid #eee;
    height: 35px;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 2px;
    -webkit-appearance: none;
    -moz-appearance: none;
    line-height: 100%;
    background-color: #fff;cursor:pointer;
}
.recherche {
  display: inline-block;
  width:350px;
  position: relative;
  cursor:default;
}
.nbElementPage{font-family: 'Roboto-Regular'}
.recherche input{
  margin:0;border:1px solid #fff;
  position: absolute;top:0px;left:0px;height:33px;width:320px;cursor:text;
}
.recherche span{cursor:pointer;}
.action:hover,.iconbutton:hover,.pageActive{background:#f5ba42;border:1px solid #f5ba42;}
.whiteboard{
  background:#fff;box-shadow: 0 1px 1px rgba(0,0,0,.1);
}
.titlewhiteboard{
  font-size:20px;
  font-family: 'Roboto-Regular';
}

.actionButton{
  display:inline-block;
  padding:10px 8px;color:#666;height:40px;text-align:center;font-size:15px;
    cursor:pointer;
         -webkit-transition: all 0.3s;
          -moz-transition: all 0.3s;
          transition: all 0.3s;
}
.actionButton:hover{
  color:#009688;
}
.line:hover .actionButton:hover{
  color:#fff;
}
.actioncell{width:95px;min-width:95px;text-align:center;}
.iconbutton{
    width:30px;height:30px;margin:3px;display:inline-block;line-height: 30px;vertical-align: middle;color:#fff;text-align:center;
    background:#34444d;cursor:pointer;border:1px solid #34444d;
         -webkit-transition: all 0.3s;
          -moz-transition: all 0.3s;
          transition: all 0.3s;
}
.iconbuttonCircle{
    border-radius:50%;
    width:35px;height:35px;margin:5px;
    display:inline-block;
    line-height: 35px;
    vertical-align: middle;color:#666;text-align:center;
    background:#f1f1f1;
    font-family: 'Roboto-Regular';
    cursor:pointer;border:1px solid #f1f1f1;
   -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
.iconbuttonCircle:hover{
  background:#e4e4e4;border:1px solid #e4e4e4;color:#666;
}
.input{border:1px solid #fff;background:#fff;font-size:15px;font-family: 'Roboto-Regular';color:#999;width:70px;height:30px;line-height: 30px;vertical-align: middle;}
.actiontab .tableCell{vertical-align: top;}
.pageActive{background:#ffb200;border:1px solid #ffb200;color:#fff;}


.table{display:table;width:100%;border-collapse: collapse;}
.tableRow{display: table-row;}
.tableCell{display: table-cell;}

/* Formulaire ajouter / editer --------------*/
.eleminput{position:relative;margin-bottom:20px;}
.eleminput:after{
  position: absolute;
    z-index: 3;
    bottom: 0px;
    left: 0;
    height: 2px;
    width: 100%;
    content: "";
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all;
    -o-transition: all;
    transition: all;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    background:#009688;
}
.focused:after {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}
.eleminput label{
  display: block;height:30px;line-height: 30px;vertical-align: middle;color:#333;
  font-family: 'Roboto-Regular';font-size:15px;
}
.eleminput input,.eleminput textarea{
  border-left: 0;
    border-right: 0;
    border-top: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 0;
    display:block;width:100%;
    height:40px;
    cursor:text;
    border-bottom:1px solid #f2f2f2;
}
.eleminput textarea{
  min-width:100%;
  min-height:100px;
}
.eleminput select{
  border: 1px solid #f2f2f2;
    height: 35px;
    display: block;width:100%;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 2px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    line-height: 100%;
    background-color: #fff;cursor:pointer;
}
.eleminput select * {
    height:40px;line-height: 40px;
    background: #fff;border:1px solid #000;
    color: #333;font-family: 'Roboto-Regular';
}
.eleminput select *:hover{
  background:#009688;color:#fff;
}
#formadd{width:800px;margin:20px auto;}

#formadd .deletecell{
  min-width:50px;
  position:relative;
}
.deletecell span{
  position: absolute;top:0;left:0;right:0;width:50px;bottom:20px;

  display:block;
  background:#d94c42;padding:10px;vertical-align: middle;color:#fff;font-size:20px;cursor:pointer;
    -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
line-height:50px;text-align:center;}
 .deletecell span:hover{background:#ed5f55;}

#formadd .buttonts{display: block;width:100%;height:50px;margin-top:5px;
  background:#009688;border:1px solid #009688;color:fff;font-family: 'Roboto-Regular';font-size:18px;
    -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;cursor:pointer;
}
#formadd .buttontsDisabled{
  display: block;width:100%;height:50px;margin-top:5px;
  background:#89c3be;border:1px solid #89c3be;color:#ff;font-family: 'Roboto-Regular';font-size:18px;
    -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;cursor:not-allowed;
  opacity: 0.5
}
.errordivform{
  margin-top:15px;background:#d14840;border:1px solid #d14840;color:#fff;
  font-family:'Roboto-Regular';
  position:relative;
}
.perrorform{display:block;margin:8px}


#systemWindow,
.diverror{
  width:800px;margin:20px auto;background:#fff;
  border-top:5px solid #03a67b;
}
.diverror{border-top:5px solid #e84c3d;}
#systemWindow .great{
  font-size:18px;
  padding:10px;text-align:center;
}
#systemWindow button{
  cursor:pointer;
  background:#f5f5f5;
  border:1px solid #f5f5f5;color:#03a67b;font-family: 'Roboto-Regular';font-size:15px;
    -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  height:40px;
  width:80%;border-radius:2px;
  box-shadow: 0 1px 1px rgba(0,0,0,.1);
}
#systemWindow button:hover,#formadd .buttonts:hover,.uploadfile:hover{background:#019875;border:1px solid #019875;color:#fff;}
#systemWindow .tableCell{width:33.33%;padding:10px;}

/* select picture */
.hidden{display: none;}
#dropArea{text-align: center;vertical-align: middle;font-size:30px;}
#listOfItem{
  vertical-align: top;
}
.borderdrop{border:1px solid #f5f5f5;background:#fbfbfb;}
.dragenter{
  background:rgba(3,166,123,0.5);
  border:1px solid #03a67b;
}
.uploadfile{
  cursor:pointer;
  background:#03a67b;
  border:1px solid #03a67b;
  color:#fff;
  font-family: 'Roboto-Regular';padding:8px 16px;border-radius:2px;
  box-shadow: 0 1px 1px rgba(0,0,0,.1);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.whiteboard .header{
  background:#607d8b;
  color:#fff;display: block;
    padding: 26px 30px;
  font-size:15px;
  font-weight: normal;
  position: relative;
}
.header .setIcon{
  position: absolute;bottom:-40px;right:30px;
}
.setIcon span{
  cursor:pointer;
  display: inline-block;
  width:40px;line-height: 40px;vertical-align: 40px;height:40px;margin-left:8px;border-radius: 50%;
  color:#fff;
  background:#2196f3;text-align:center;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
  .setIcon span:hover{
 -webkit-transform: rotate(360deg); 
            -moz-transform: rotate(360deg);    
            transform:rotate(360deg);
            filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=-4);
  }
.header h3{font-weight: normal;display: block;margin-bottom:10px;}
.littledesc{font-size:13px;color:#cdd6da;}
/* Detail */
.tableDetail{margin-top:10px;}
.tableDetail .tableCell{padding:10px;vertical-align: top}
.labelCell{
  font-size:14px;color:#444;text-transform: uppercase;color:#333;
  
}
 .impaire{background:#f7f7f7;}
.thumbail150{
  width:150px;height:150px;
  margin-top:10px;margin-right:10px;
  display: inline-block;cursor:pointer;overflow:hidden;
  position: relative;
}
.elem{
  width:100%;
  height:100%;
  background-size: cover;
  background :url('images/products/product_notfound.png')center center no-repeat 100%;
   -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
.thumbail150:hover .elem,.thumbail150:focus .elem{transform:scale(1.2);}
.thumbail150 .deletePict{
  position: absolute;top:50%;left:50%;margin-top:-75px;margin-left:-75px;width:150px;height:150px;
  line-height: 150px;background:#e84c3d;color:#fff;font-size:30px;text-align:center;
    -webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
  transition: all 0.6s;
  z-index: 1000;visibility: hidden;scale:(0.1);
}

.thumbail150:hover .deletePict,.thumbail150:focus .deletePict{transform:scale(1.2);visibility: visible;scale:1;}

.relative{position: relative;padding-right:20px;}
.icontri{position: absolute;bottom:15px;right:10px;font-size:8px;}
.icontri span{display: block;width:15px;height:10px;line-height: 10px;vertical-align: middle;text-align: center;color:#555;cursor:pointer;
 -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
.icontri span:hover{
  font-size:12px;
   -webkit-transform: rotate(360deg); 
            -moz-transform: rotate(360deg);    
            transform:rotate(360deg);
            filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=-3);color:#009688;
}
/* Icone ----------------------------------------------------- */

.flaticon-add:before { content: "\f100"; }
.flaticon-addclient:before { content: "\f101"; }
.flaticon-api:before { content: "\f102"; }
.flaticon-arrowleft:before { content: "\f103"; }
.flaticon-arrowright:before { content: "\f104"; }
.flaticon-arrows:before { content: "\f105"; }
.flaticon-back:before { content: "\f106"; }
.flaticon-calendar:before { content: "\f107"; }
.flaticon-caret-arrow-up:before { content: "\f108"; }
.flaticon-check:before { content: "\f109"; }
.flaticon-contact:before { content: "\f10a"; }
.flaticon-dashboard:before { content: "\f10b"; }
.flaticon-delete:before { content: "\f10c"; }
.flaticon-deleteclient:before { content: "\f10d"; }
.flaticon-edit:before { content: "\f10e"; }
.flaticon-exit:before { content: "\f10f"; }
.flaticon-forecast:before { content: "\f110"; }
.flaticon-gear:before { content: "\f111"; }
.flaticon-login:before { content: "\f112"; }
.flaticon-logout:before { content: "\f113"; }
.flaticon-message:before { content: "\f114"; }
.flaticon-moneyin:before { content: "\f115"; }
.flaticon-moneyout:before { content: "\f116"; }
.flaticon-notfound:before { content: "\f117"; }
.flaticon-password:before { content: "\f118"; }
.flaticon-people:before { content: "\f119"; }
.flaticon-picture:before { content: "\f11a"; }
.flaticon-product:before { content: "\f11b"; }
.flaticon-recherche:before { content: "\f11c"; }
.flaticon-sendform:before { content: "\f11d"; }
.flaticon-sort-down:before { content: "\f11e"; }
.flaticon-statistic:before { content: "\f11f"; }